.container{
    width: 40vw;
    height: 60vh;
    border: 5px solid rgb(221, 220, 220);
    position: relative;
    padding: 10px;

}

.child-container{
    width: 100px;
    height: 100px;
    background-color: rgb(135, 61, 204);
    padding: 10px;
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 0;

}